#
#    NOTE: This file was customized after generation, take care to keep this during updates.
#
#    fty-certificate-generator-rest - Certificate Generator REST API
#
#    Copyright (C) 2014 - 2019 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-certificate-generator-rest
Section:        net
Priority:       optional
Maintainer:     fty-certificate-generator-rest Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libcxxtools-dev,
    libsasl2-dev,
    libtntdb-dev,
    libfty-common-dev,
    libfty-common-logging-dev,
    libfty-common-rest-dev,
    libfty-common-mlm-dev,
    libfty-certificate-generator-dev,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: fty-certificate-generator-rest-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    ${misc:Depends}
Description: fty-certificate-generator-rest debugging symbols
 This package contains the debugging symbols for fty-certificate-generator-rest:
 certificate generator rest api.

# Customization over zproject-generated code follows
# for the legacy-named metapackage to group the common
# installation dependency for other components:
Package: fty-certificate-generator-rest
Architecture: any
Section: net
Priority: optional
Depends:
    libfty-certificate-generator-rest1 (= ${binary:Version}),
    ${misc:Depends},
    tntnet-runtime,
    malamute,
    libfty-common1,
    libfty-common-mlm1,
    libfty-common-db1,
    libfty-common-rest1,
    ipc-data
Recommends: msmtp
Description: grouping of end-user solution with fty-certificate-generator-rest

